@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Movie App</h1>
    <p>Welcome to the Movie App.</p>
    <p>Ozan Kürkçü</p>
    <p>My <a href="https://github.com/okurkcu">GitHub</a> Account</p>
</div>
